@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');

body {
    margin: 0px;
    padding: 0px;
    font-family: 'Playfair', sans-serif;
}

main {
    padding: 16px;
    margin-bottom: 10px;

}

footer {
    padding: 24px 0px 24px 16px;
    border: 1px solid black;
    background-color: #E03E31;
    font-size: large;
}

img {
    height: 200px;

}

nav {
    border: 1px solid black;
    padding: 16px;
}

header {
    background-color: #F0CD7D;
}

.white-text {
    color: rgb(255, 255, 255)
}

.green-me {
    color: #718041;
}
.dark-green-me {
    color: #465902;
}
.light-grey-back {
    background-color: lightgrey;
}
a:link {

    text-decoration: none;

}

a:visited {
    color: none;
}

a:hover {
    color: #E65540;

}
a:active{
    color: #465902;

}

.taco-list{
    display: grid;
    grid-template-columns: repeat(4, 1fr) ;
}


table {
    border-collapse: collapse;
    width: 20%;
}

th, td {
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: lightgray;
}
